.bodyadm {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-size: 14px;
  line-height: 1.42857143;
  color: #3D5374;
  background-color: #F7F7F7;
}

.blq-superior {
  height: 80px !important;
  background: #2C3642;
  border: 0px;
}

.blq-menusuperior {
  height: 40px !important;
  padding-top: 10px;
}

.blq-menuinferior {
  background: #364252;
  height: 40px !important;
  padding-top: 5px;
  border-bottom: 1px solid #2C3642;
}

.blq-inferior-derecho {
  background-color: #F7F7F7;
  border: 0px;
}

.blq-inferior-izquierdo {
  background-color: #364252;
}

.btn_logoff {
  float: right;
  margin-right: 20px;
  vertical-align: middle;
}

.btn-default {
  color: #B2BFC5 !important;
  background-color: #2C3642 !important;
  border-color: #2C3642 !important;
}

.RadMenu_Default .rmRootGroup {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  border: 0px !important;
  background-image: none !important;
}

.btn-group-sm > .btn, .btn-sm {
  padding: 5px 20px !important;
}

.mn_inicial {
  background: #364252 !important;
  color: #fff !important;
  font-weight: bold !important;
}

.mn-superior {
  background: #2C3642 !important;
  color: #B2BFC5 !important;
}

  .mn-superior:hover {
    background: #2C3642 !important;
    color: #fff !important;
    font-weight: bold !important;
  }

.mn-superiordos {
  background: #364252 !important;
  color: #B2BFC5 !important;
}

  .mn-superiordos:hover {
    background: #364252 !important;
    color: #fff !important;
    font-weight: bold !important;
  }

.rmSelected {
  color: #fff !important;
  font-weight: bold !important;
}


.rspPane.rspFirstItem {
  border-right-width: 0px !important;
}

.RadSplitter_Default .rspResizeBar, .RadSplitter_Default .rspSlideContainerResize {
  border-right-color: #F7F7F7 !important;
  background: #F7F7F7 !important;
}

.RadMenu_Vista .rmGroup, .RadMenu_Vista .rmMultiColumn, .RadMenu_Vista .rmGroup .rmVertical {
  background: #2C3642 !important;
  border-radius: 5px !important;
  border-color: #364252 !important;
}

.RadMenu .rmGroup .rmText {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  padding: 0px 54px 0px 10px !important;
  color: #B2BFC5 !important;
}

  .RadMenu .rmGroup .rmText:hover {
    color: #fff !important;
    font-weight: bold;
    background-color: #2C3642 !important;
  }

.RadMenu_Vista .rmRootGroup, .RadMenu_Vista .rmFirst, .RadMenu_Vista a.rmLink, .RadMenu_Vista .rmText, .RadMenu_Vista .rmLeftArrow, .RadMenu_Vista .rmRightArrow, .RadMenu_Vista .rmTopArrow, .RadMenu_Vista .rmBottomArrow {
  background-image: none !important;
}

.RadMenu .rmGroup .rmItem {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  border-bottom: 1px solid #364252 !important;
}

.RadMenu_Vista .rmGroup .rmLast {
  border-bottom: 0px !important;
}

.BtnColEditar {
  color: transparent !important;
  background: url(../images/icons/glyphicons-31-pencil.png) center center no-repeat !important;
  background-size: 100% 100% !important;
  border: 0px;
}

.BtnColEliminar {
  color: transparent !important;
  background: url(../images/icons/glyphicons-17-bin.png) left no-repeat !important;
  background-size: 100% 100% !important;
  border: 0px;
}

.BtnColAgregar {
  color: transparent !important;
  background: url(../images/icons/glyphicons-191-plus-sign.png) left no-repeat !important;
  background-size: 100% 80% !important;
  border: 0px;
}

.MsgError {
  color: red;
  font-weight: bold;
}

.rtTop, .rtMid, .rtBot {
  color: #B2BFC5;
  border-bottom: 1px solid #2C3642;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

  .rtTop:hover {
    font-weight: bold;
  }

  .rtMid:hover {
    font-weight: bold;
  }

  .rtBot:hover {
    font-weight: bold;
  }

.RadTreeView_Vista .rtHover .rtIn {
  background-image: none !important;
  background-color: #364252 !important;
  color: #fff !important;
  border: 0px !important;
}

.RadTreeView_Vista .rtSelected .rtIn {
  background-color: #364252 !important;
  background-image: none !important;
  border: 0px !important;
  border-bottom: 1px solid #fff !important;
  color: #fff !important;
  font-weight: bold;
}

.RadTreeView_Vista .rtPlus, .RadTreeView_Vista .rtMinus {
  background-image: none !important;
}

.RadTreeView .rtImg {
  width: 15px !important;
}

.RadTreeView_Sitefinity, .RadTreeView_Sitefinity a.rtIn, .RadTreeView_Sitefinity .rtEdit .rtIn input {
  background-color: #fff !important;
  border: 1px solid #000 !important;
}

div.RadTreeView_Sitefinity .rtLI .rtSelected .rtIn {
  background: #fff !important;
  color: #B2BFC5 !important;
}

.RadTreeView_Sitefinity .rtLines .rtTop {
  background-image: none !important;
  border-bottom: 0px !important;
}

.RadTreeView_Sitefinity .rtLines .rtMid {
  background-image: none !important;
  border-bottom: 0px !important;
}

.RadTreeView_Sitefinity .rtLines .rtBot {
  background-image: none !important;
  border-bottom: 0px !important;
}

.RadTreeView_Sitefinity .rtLines .rtLI, .RadTreeView_Sitefinity .rtLines .rtFirst .rtUL {
  background-image: none !important;
}

.RadTreeView_Sitefinity .rtLines .rtFirst, .RadTreeView_Sitefinity .rtLines .rtFirst .rtUL {
  background-image: none !important;
}
