.body {
  color: #3D5374 !important;
}

.navbar-inverse {
  background-color: #5998C9 !important;
  border-color: #4A7EA6 !important;
}

.container-fluid {
  padding-left: 0px !important;
}

.navbar-inverse .navbar-toggle {
  border-color: #ffffff !important;
}

.navbar-inverse .navbar-brand {
  color: #ffffff !important;
}

.navbar-brand {
  background-color: #3D5374 !important;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
  background-color: #3D5374 !important;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff !important;
}

.dropdown-menu {
  background-color: #5998C9 !important;
}

  .dropdown-menu > li > a {
    color: #ffffff !important;
  }

    .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
      background-color: #3D5374 !important;
    }

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

@media (min-width:992px) {
  .container {
    width: 970px;
  }
}

@media (min-width:1200px) {
  .container {
    width: auto;
    margin-left: 30px;
  }
}


.lblTitle {
  font-weight: 300;
  font-family: inherit;
  line-height: 1.1;
  font-size: 16px !important;
}

.data {
  font-size: 12px !important;
}

.btn {
  font-size:12px!important;
}
span {
  font-size:12px!important;
  color:#3D5374!important;
}